# Ignore virtual environment
venv/

# Ignore Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore logs and temp files
*.log
*.tmp
*.swp

# Ignore environment variables
.env
.env.*

# Ignore static files generated during deployment
/static/
media/

# Ignore database files
*.sqlite3

# Ignore IDE/editor config files
.vscode/
.idea/
*.iml
